* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 700px repeat(3, auto);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.header {
  grid-area: 1 / 1 / 1 / 4;
}

#about {
  grid-area: 2 / 1 / 2 / 4;
}

#projects {
  grid-area: 3 / 1 / 3 / 4;
}

#experience {
  grid-area: 4 / 1 / 4 / 4;
}

section {
  text-align: center;
  display: block;
  padding: 20px 60px;
}

.hero-image {
  background-image: url("/images/stock-desk.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero-text {
  color: #fff;
}

.social-container {
  text-align: center;
}

div.social-container a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

footer {
  padding: 30px 0;
  grid-area: 5 / 1 / 5 / 4;
}

.dark-bg {
  background-color: #515151;
  color: #fff;
}

.hero-round {
  height: 400px;
  width: 400px;
  background-color: #000;
  border-radius: 50%;
}

.center-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-heading {
  margin: 0 0 20px;
}

.tech-icon {
  margin: 10px;
}
