* {
  box-sizing: border-box;
  margin: 0; }

html {
  height: 100%; }

body {
  background: #24805a;
  color: #f7f7f7; }

.jumbotron {
  height: 100vh;
  text-align: center;
  padding-top: 30%;
  margin-bottom: 0;
  background: #24805a; }

h1 {
  font-size: 4rem; }

.fa-angle-double-down {
  position: absolute;
  bottom: 10%; }
  .fa-angle-double-down:hover {
    cursor: pointer; }

section {
  margin-bottom: 30px;
  text-align: center; }

footer {
  text-align: center;
  margin-bottom: 50px; }

.social {
  margin: 0 10px;
  color: white; }
  .social:hover {
    text-decoration: none;
    color: #c9c9c9; }

@media only screen and (max-height: 500px) {
  .jumbotron {
    padding-top: 10%; } }
