* {
  box-sizing: border-box;
  margin: 0; }

html {
  height: 100%; }

body {
  background: #07113b;
  color: #fffcea; }

.jumbotron {
  height: 100vh;
  text-align: center;
  padding-top: 30%;
  margin-bottom: 0;
  background: #07113b; }

h1 {
  font-size: 4rem; }

#down-arrow {
  position: absolute;
  bottom: 10%; }
  #down-arrow:hover {
    cursor: pointer;
    color: #ed5757; }

section {
  margin-bottom: 30px;
  text-align: center; }

footer {
  text-align: center;
  margin-bottom: 50px; }

a {
  color: #ed5757; }
  a:hover {
    color: #fffcea;
    text-decoration: underline; }

.social {
  margin: 0 10px; }
  .social:hover {
    text-decoration: none; }

.skills {
  text-align: left; }

.alt-color {
  color: #ed5757; }

img {
  opacity: 1;
  transition: opacity 0.3s; }

img[data-src] {
  opacity: 0; }

@media only screen and (max-height: 500px) {
  .jumbotron {
    padding-top: 10%; } }
