* {
  box-sizing: border-box;
  margin: 0; }

a:visited {
  color: inherit; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  background-color: #24805a;
  color: #f7f7f7;
  display: grid;
  grid-template-columns: [col-start] repeat(4, 1fr) [col-end];
  grid-template-rows: 100vh repeat(4, auto); }

div.social-container a {
  color: #f7f7f7;
  text-decoration: none;
  margin: 0 10px; }

footer {
  padding: 30px 0;
  grid-area: 5 / col-start / 5 / col-end; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.85em; }

h6 {
  font-size: 0.5em; }

section {
  text-align: center;
  display: block;
  padding: 40px 80px;
  max-width: 1200px;
  min-height: 300px;
  justify-self: center; }

.card {
  background-image: url("http://via.placeholder.com/250x250");
  height: 250px;
  width: 250px;
  margin: 0 15px;
  cursor: pointer; }

.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto); }

.center-grid-content {
  align-self: center;
  text-align: center; }

.dark-bg {
  background-color: #24805a;
  color: #f7f7f7; }

.header {
  display: grid;
  grid-area: 1 / col-start / 1 / col-end; }

.fa-caret-down {
  position: absolute;
  bottom: 5%;
  right: 48.6%;
  cursor: pointer; }

.tech-icon {
  color: #f7f7f7; }

.social-container {
  text-align: center; }

.section-heading {
  margin: 0 0 20px; }

.tech-icon {
  margin: 10px; }

#about {
  grid-area: 2 / col-start / 2 / col-end; }

#projects {
  grid-area: 4 / col-start / 4 / col-end; }

#experience {
  grid-area: 3 / col-start / 3 / col-end; }
