<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Hi, I'm John Rapp and this is my portfolio. Feel free to contact me!"
  />
  <meta name="theme-color" content="#db3eb1" />

  <head>
    <title>John Rapp | Software Engineer</title>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <button
        class="navbar-toggler navbar-dark"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#about"
              >About <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="header" id="top">
        <div>
          <h1>John Rapp</h1>
          <h2>
            Software Engineer
          </h2>
        </div>
      </div>
      <section id="about">
        <h2 class="section-title">About</h2>
        <p class="alt-text-bg">
          Hi, I'm John. Throughout my 6 years of industry experience, I've held
          roles as a software engineer, business analyst, and UX designer. These
          experiences have lead to the realization that web development is a
          passion of mine. I'll be uploading projects here as I experiment and
          learn new technologies (a little accountability never hurt). If you
          want to know more, check out my
          <a
            href="https://drive.google.com/file/d/1cR9dS9TTToRjvBC3aS6Qlczs1NZuCAso/view?usp=sharing"
            target="_blank"
            rel="noopener"
            title="View my resume"
            >resume</a
          >
          or <a href="#contact">contact</a> me directly.
        </p>
      </section>

      <section id="projects">
        <h2 class="section-title">Projects</h2>
        <div class="flex-center">
          <div class="tile">
            <img
              src="../images/account-overview.png"
              alt="Landing page of the
            Gateway project."
              class="project"
            />
            <div class="description">
              A one stop shop for call center employees. Easy access to customer
              information including policy details, documents, and billing info
              without needing to access legacy systems. <br /><br />
              Technologies: Angular.js, C#, ASP.NET MVC, HTML, LESS, Bootstrap,
              jQuery, Git, SQL
            </div>
          </div>
          <div class="tile">
            <img
              src="../images/color-game.png"
              alt="An RGB color guessing game."
              class="project"
            />
            <div class="description">
              Simple randomized color guessing game. Source code available
              <a
                href="https://codepen.io/jrapp/pen/jpEGWX"
                target="_blank"
                rel="noopener"
                >here.</a
              >
              <br /><br />
              Technologies: JavaScript, HTML, CSS
            </div>
          </div>
          <div class="tile">
            <img
              src="../images/portfolio.png"
              alt="Portfolio site code."
              class="project"
            />
            <div class="description">
              This from scratch portfolio site. Source code available
              <a
                href="https://github.com/john-rapp/portfolio"
                target="_blank"
                rel="noopener"
                >here.</a
              ><br /><br />
              Technologies: HTML, SASS, Webpack, Git
            </div>
          </div>
        </div>
        <p>More coming soon 🚧</p>
      </section>

      <section id="skills">
        <h2 class="section-title">Skills</h2>
        <div class="skill-list">
          <span class="alt-text-bg skill">JavaScript</span>
          <span class="alt-text-bg skill">HTML</span>
          <span class="alt-text-bg skill">CSS</span>
          <span class="alt-text-bg skill">Angular.js</span>
          <span class="alt-text-bg skill">jQuery</span>
          <span class="alt-text-bg skill">Bootstrap</span>
          <span class="alt-text-bg skill">Git</span>
          <span class="alt-text-bg skill">Webpack</span>
          <span class="alt-text-bg skill">Gulp</span>
          <span class="alt-text-bg skill">ASP.NET MVC</span>
          <span class="alt-text-bg skill">C#</span>
          <span class="alt-text-bg skill">SQL</span>
        </div>
      </section>

      <footer>
        <section id="contact">
          <h2 class="section-title">Contact</h2>
          <div class="link-container">
            <div>
              <a
                href="mailto:johnrapp814@gmail.com"
                target="_blank"
                rel="noopener"
                class="social"
              >
                <i title="Email me" class="far fa-envelope fa-2x"></i>
                <span class="social-text">johnrapp814@gmail.com</span>
              </a>
              <a
                href="https://www.linkedin.com/in/jmrapp/"
                target="_blank"
                rel="noopener"
                class="social"
              >
                <i title="Go to LinkedIn" class="fab fa-linkedin fa-2x"></i>
                <span class="social-text"
                  >https://www.linkedin.com/in/jmrapp/</span
                >
              </a>
              <a
                href="https://twitter.com/j0hnrapp"
                target="_blank"
                rel="noopener"
                class="social"
              >
                <i title="Go to Twitter" class="fab fa-twitter fa-2x"></i>
                <span class="social-text">https://twitter.com/j0hnrapp</span>
              </a>
              <a
                href="https://github.com/john-rapp"
                target="_blank"
                rel="noopener"
                class="social"
              >
                <i title="Go to Github" class="fab fa-github fa-2x"></i>
                <span class="social-text">https://github.com/john-rapp</span>
              </a>
            </div>
            <div class="logo">JR</div>
          </div>
        </section>
      </footer>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</html>
