$primary-light: #fff;
$primary-dark: #000;
$secondary-light: #db3eb1;
$secondary-dark: #41b6e6;

$font-fam: 'Montserrat', sans-serif;
$font-alt: 'Orbitron', sans-serif;
$base-font-size: 20px;

$view-sm: 670px;
$view-md: 991px;
$view-lg: 1365px;
