@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Road Rage";
  src: url("../../../fonts/Road_Rage.woff2") format("woff2"),
    url("../../../fonts/Road_Rage.woff2") format("woff");
}

body {
  background: $primary-dark;
  color: $primary-light;
  font-family: $font-fam;
  font-size: $base-font-size;
}

section {
  margin-bottom: 60px;
  text-align: center;
}

a {
  color: $secondary-light;
  transition: color 0.3s;
  text-decoration: none;
  &:hover {
    color: $secondary-dark;
  }
}

h1 {
  font-family: "Road Rage";
  font-size: 6rem;
  color: $secondary-light;

  @media (max-width: $view-sm) {
    font-size: 4rem;
  }
}

h2 {
  font-family: $font-alt;
  @media (max-width: $view-sm) {
    font-size: 1.5rem;
  }
}

img {
  border: 1px solid #000;
  opacity: 1;
  margin-top: 15px;
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
  &[data-src] {
    opacity: 0;
  }
}

i {
  margin-right: 10px;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  max-width: 400px;
  margin-bottom: 20px;
  text-align: center;
}

.alt-text-bg {
  color: $primary-light;
  padding: 15px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: $primary-dark;

  & > div {
    align-self: center;
  }
}

.section-title {
  border-bottom: 3px solid $secondary-dark;
  font-family: $font-alt;
  margin-bottom: 20px;
  text-align: left;
  width: min-content;
}

.social {
  display: block;
  margin-bottom: 20px;
  transition: 0.3s;
  text-decoration: none;
  width: max-content;
  &:hover {
    color: $secondary-dark;
  }

  @media (max-width: $view-sm) {
    display: inline;
    margin-right: 15px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.social-text {
  @media (max-width: $view-sm) {
    display: none;
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 5px;
  transition: 0.3s;
  &:hover {
    background-color: $secondary-light;
    cursor: default;
  }
}

.text-left {
  text-align: left;
}

.alt-color {
  color: $secondary-dark;
}

.project {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    transform: scale(1.03);
  }
}

.link-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $view-sm) {
    flex-direction: column;
  }
}

.logo {
  font-family: "Road Rage";
  font-size: 8rem;

  @media (max-width: $view-sm) {
    font-size: 4rem;
  }
}

#about p {
  text-align: right;
}

#contact {
  margin: 20px 0 0 0;
  text-align: left;

  @media (max-width: $view-sm) {
    text-align: center;
  }
}
