@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $primary-dark;
  color: $primary-light;
  font-family: $font-fam;
  font-size: $base-font-size;
}

section {
  margin-bottom: 7%;
  text-align: center;
}

footer {
  text-align: center;
}

a {
  color: $primary-light;
  transition: color 0.3s;
  text-decoration: underline;
  &:hover {
    color: $primary-dark;
  }
}

h1 {
  font-size: 4rem;
}

img {
  opacity: 1;
  margin-top: 2%;
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
  &[data-src] {
    opacity: 0;
  }
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: center;
}

.alt-text-bg {
  background: $secondary-dark;
  color: $primary-light;
  padding: 15px;
  border-radius: 15px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: $primary-dark;

  & > div {
    align-self: center;

    @media (max-width: 600px) {
      align-self: flex-start;
      margin-top: 70px;
    }
  }
}

.section-title {
  margin-bottom: 20px;
}

.social {
  margin: 0 2%;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    color: $secondary-dark;
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin: 5px;
  transition: 0.3s;
  &:hover {
    background-color: $secondary-light;
    cursor: default;
  }
}

.text-left {
  text-align: left;
}

.alt-color {
  color: $secondary-dark;
}

.project {
  filter: grayscale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    filter: grayscale(0);
  }
}

#contact {
  margin-top: 20px;
}

#down-arrow {
  position: absolute;
  left: 49%;
  bottom: 10%;
  outline: none;
  color: $secondary-dark;
  transition: color 0.3s;

  &:hover {
    cursor: pointer;
    color: $primary-light;
  }
}
